/* Estilos para el formulario de contacto */

body{
    background-image: url(/imagenes/vacas6.jpg);
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}
h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el mensaje de confirmación */
#mensaje-gracias,
#mensaje-error {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

#mensaje-gracias {
    background-color: #d4edda;
    color: #155724;
}

#mensaje-error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Estilos para el botón "Volver al inicio" */
button {
    display: block;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin: 20px auto; /* Centra el botón horizontalmente y agrega espacio en la parte superior e inferior */
    padding: 10px 20px; /* Añade espacio interno al botón */
    background-color: #007bff; /* Color de fondo del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    color: #fff; /* Color del texto del botón */
    font-size: 16px; /* Tamaño de fuente del texto del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

button:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
}
#mensaje-enviado {
    display: block; 
    color: rgb(0, 0, 0); /* Color de texto verde */
    text-align: center;
    font-size: 20px;
}